header {
  display: flex;
  flex-flow: column;
  height: auto;
  overflow: hidden;
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
}

.leftpane {
    width: 75%;
}

.rightpane {
    width: 25%;
}

.logoDiv {
  text-align: center;
}
