<header>
  <section class="logoDiv row">
    <div class='col-lg-12'>
      <img class="heroLogoTag" src="../../assets/images/imageedit_3_6974001660.png" alt="logo" width="500px" height="150px">
    </div>
  </section>
  <section class='main-nav row'>
    <section class="leftpane col-lg-8">
      <app-navigation></app-navigation>
    </section>
    <section class="rightpane col-lg-4">
      <app-account></app-account>
      <noscript>Your browser is not compatible to view the page.</noscript>
    </section>
  </section>
</header>
