header {
  display: flex;
  flex-flow: column;
  height: auto;
  overflow: hidden;
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
}

.leftpane {
    width: 75%;
    margin-left: 0px;
}

.rightpane {
    width: 25%;
}

.logoDiv {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .heroLogoTag {
      width:550px;
  }
  .leftpane{
    width:100%;
  }
  .rightpane{
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .heroLogoTag {
      width:550px;
  }
  .leftpane{
    width:100%;
    margin-left: -105px;
  }
  .rightpane{
    width: 100%;
   margin-top:-50px;
  }
}

@media screen and (max-width: 480px) {
  .heroLogoTag {
      width:450px;
  }
  .leftpane{
    width:100%;
    margin-left: -15px;
  }
  .rightpane{
    width: 100%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 320px) {
  .heroLogoTag {
      width:300px;
  }
  .leftpane{
    width:100%;
    margin-left: 35px;
  }
  .rightpane{
    width: 100%;
    margin-top: 10px;
    margin-left: -30px;
  }
}
