<footer itemscope itemtype="http://schema.org/Person" class="footer-distributed" id="data2">
  <section class="footer-left">
    <p class="footer-links">
      <a itemprop="url" routerLink="{{linkConfigObj.footer.about.route}}" href="{{linkConfigObj.footer.about.route}}">{{linkConfigObj.footer.about.label}}</a>
      <br>
      <a itemprop="url" routerLink="{{linkConfigObj.footer.contact.route}}" href="{{linkConfigObj.footer.contact.route}}">{{linkConfigObj.footer.contact.label}}</a>
    </p>
    <hr>
    <p itemprop="description" class="footer-links">SEO for Headless &copy; 2018</p>
  </section>
  <noscript>Your browser is not compatible to view the page.</noscript>
</footer>