<div class="footer-distributed">
  <div class="footer-right">
    <a href="http://www.facebook.com">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://www.twitter.com">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.linkedin.com">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="http://www.github.com">
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a routerLink="{{abc.footer.about.route}}">{{abc.footer.about.label}}</a>
      <br>
      <a routerLink="{{abc.footer.contact.route}}">{{abc.footer.contact.label}}</a>
    </p>
    <hr>
    <p>Tour of Heroes &copy; 2018</p>
  </div>
</div>