<div class="jumbotron text-center">
  <h2>Tour of Heroes</h2>
  <p>We give you best heroes</p>
</div>

<div class="one">
  <div class="row">
    <div class="col-sm-6 companyDiv">
      <h2>About Company Page</h2>
      <h4>Accenture</h4>
      <p>Accenture</p>
    </div>
    <div class="col-sm-6 companyLogo">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
<div class="two">
  <div class="row">
    <div class="col-sm-6 missionLogo">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-6 missionDiv">
      <h2>Our Values</h2>
      <h4>
        <strong>MISSION:</strong> Accenture</h4>
      <p>
        <strong>VISION:</strong> Accenture</p>
    </div>
  </div>
</div>