<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<section itemscope itemtype="http://schema.org/Thing" class="jumbotron text-center">
  <h2 itemprop="name">Tour of Heroes</h2>
  <p itemprop="description">We give you best heroes</p>
</section>

<section itemscope itemtype="http://schema.org/Things" class="one">
  <section class="row">
    <div class="col-sm-6 companyDiv">
      <h2 itemprop="name">About Company Page</h2>
      <h4 itemprop="name">Dummy Company Name</h4>
      <p itemprop="description">Dummy Company Description</p>
    </div>
    <div class="col-sm-6 companyLogo">
      <span itemprop="logo" class="glyphicon glyphicon-signal logo"></span>
    </div>
  </section>
</section>
<section itemscope itemtype="http://schema.org/Things" class="two">
  <section class="row">
    <div class="col-sm-6 missionLogo">
      <span itemprop="logo" class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-6 missionDiv">
      <h2 itemprop="name">Our Values</h2>
      <h4 itemprop="name">
        <strong>MISSION:</strong> Dummy Company Mission</h4>
      <p itemprop="description">
        <strong>VISION:</strong> Dummy Company Vision</p>
    </div>
  </section>
  <noscript>Your browser is not compatible to view the page.</noscript>
</section>