.jumbotron {
    background-color: rgb(78, 146, 235);
    color: black;
    padding-top: 200px;
}

h2{
    color: black;
    font-weight: bold;
}

.one {
    padding-right: 100px;
    padding-bottom: 100px;
}

.two {
    padding-right: 100px;
}

.logo {
    font-size: 200px;
}

.companyDiv {
    text-align: center;
}

.companyLogo {
    text-align: right;
}

.missionDiv{
    text-align: right;
}

.missionLogo {
    text-align: center;
}
