.idLabel {
    display: inline-block;
    width: 50%;
    margin: .5em 0;
    color: black;
    font-weight: bold;
}

.ratingLabel {
    display: inline-block;
    width: 50%;
    margin: .5em 0;
    color: black;
    font-weight: bold;
}

.nameLabel {
    display: inline-block;
    width: 50%;
    margin: .5em 0;
    color: black;
    font-weight: bold;
}

.descriptionLabel {
    display: block;
    width: 50%;
    margin: .5em 0;
    color: black;
    font-weight: bold;
}

.imageHero {
    border-radius: 4px;
}

.buttonFamily {
    width: 150px;
    color: black;
    font-weight: bold;
}

.leftpane {
    margin-top: 35px;
    width: 40%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}
  
.rightpane {
    margin-top: 50px;
    width: 40%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .main{
        overflow-X: hidden;
     
        
    }
    .leftpane {
        position: relative;
        left: 170px; 
    
    }
    .imageHero{
        width: auto;
    }
    .rightpane {
        margin-top: 700px;
        font-size: 30px;
     }
     .idLabel{
        position: relative;
        right: 250px;
     }
     .ratingLabel{
        position: relative;
        right: 250px;
        display: inline;
     }
     .nameLabel{
        position: relative;
        right: 250px;
        display: inline;
     }
     .descriptionLabel{
        margin-left: -250px;
        width: auto;
        
     }
     .buttonFamily{
        position: relative;
        margin-bottom: 100px;
        right: 250px;
     }
     .heading {
        position: relative;
        right: 240px;
     }
  }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
            .main{
                overflow-X: hidden;   
            }

            .leftpane {
                position: relative;
                left: 8px;    
            }

            .imageHero{
                width: auto;
            }

            .rightpane { 
                margin-top: 600px;
                left: 10px;
                display: inline-block;

             }
             .idLabel{
                position: relative;
                right: 210px;
                white-space: nowrap;
             }
             .ratingLabel{
                position: relative;
                right: 210px;
                white-space: nowrap;
             }
             .nameLabel{
                position: relative;
                right: 210px;
                white-space: nowrap;
             }
             .descriptionLabel{
                margin-left: -215px;
                width: auto;
             }
             .buttonFamily{
                position: relative;
                margin-bottom: 30px;
                right: 210px;
             }
             .heading {
                position: relative;
                right: 210px;
                display: inline-block;
                white-space: nowrap;
             }
}
  
  @media screen and (max-width: 320px) {
            .leftpane {
                position: relative;
                left: 5px;   
            }
            .imageHero{
                width: auto;
                height:400px;
            }

            .rightpane {
                margin-left: -200px;
                margin-top: 500px;
            }
            .idLabel{
                position: relative;
                right: 150px;
            }
            .ratingLabel{
                position: relative;
                right: 150px;  
            }
            .nameLabel{
                position: relative;
                right: 150px;
            }
            .descriptionLabel{
                margin-left: -155px;
                width: auto;
            }
            .buttonFamily{
                position: relative;
                right: 150px;
            }
            .heading {
                position: relative;
                right: 150px;
            }
  }