<section itemscope itemtype="http://schema.org/Product" class="leftpane">
  <section *ngIf="hero">
    <figure>
    <img itemprop="photo" class="imageHero" src="{{hero.image}}" width="500" height="500">
  </figure>
  </section>
</section>
<section itemscope itemtype="http://schema.org/Product" class="rightpane">
  <section *ngIf="hero">
    <h2 itemprop="name">
      {{ hero.name | uppercase }} Details
    </h2>
    <section>
      <label class="idLabel">ID:
        <b itemprop="productID">
          {{hero.id}}
        </b>
      </label>
    </section>
    <section>
      <label class="nameLabel">Name:
        <b itemprop="name">
          {{hero.name}}
        </b>
      </label>
    </section>
    <section itemprop="children" itemscope itemtype="http://schema.org/AggregateRating">
      <label class="ratingLabel">Rating:
        <b itemprop="ratingValue">
          {{hero.rating}}
        </b>
      </label>
    </section>
    <div>
      <label class="descriptionLabel">Description:
        <b itemprop="description">{{hero.description}}</b>
      </label>
    </div>
  </section>
  <br>
  <br>
  <br>
  <button type="button" class="btn btn-primary buttonFamily" title="Go Back" (click)="goBack()">Go Back</button>
  <br>
  <noscript>Your browser is not compatible to view the page.</noscript>
</section>