.login-form {
    width: 340px;
    margin-top: 80px;
    // margin-left: 265px;
    margin: 30px auto;
}

.login-form form{
    margin-top: 100px;
    color:black;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: rgb(78, 146, 235);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.login-form h2 {
    color: black;
    font-weight: bold;
    margin-top: -5px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    background-color: forestgreen;
}

.checkbox-inline {
    text-align: center;
    color: black;
    font-weight: bold;
}

.signupURL {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .login-form {
        width: 385px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .login-form {
        width: 255px;
        margin-top: 20px;
    }
       
}
@media screen and (max-width: 320px) {
    .login-form {
        width: 255px;
        margin-top: 20px;
    }
       
}