<!-- Container (Contact Section) -->
<div class="container-fluid">

  <h2 class="text-center headerContact">Contact Us</h2>
  <hr>
  <div class="row">
    <div class="col-sm-5 infoContact">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i> Pune, India</p>
      <p>
        <i class="fa fa-phone" aria-hidden="true"></i> +91 9876543210</p>
      <p>
        <i class="fa fa-envelope" aria-hidden="true"></i> myemail@heros.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autocomplete="off">
        </div>
        <br>
        <div class="col-sm-12 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required autocomplete="off">
        </div>

        <div class="col-sm-6 form-group">
          <input class="form-control" id="company" name="company" placeholder="Company" type="text" required autocomplete="off">
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="phone" name="phone" placeholder="Mobile Number" type="text" required autocomplete="off">
        </div>


      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-success pull-right submitContact" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>