<section itemscope itemtype="http://schema.org/Product" class="container-fluid">

  <h2 itemprop="name" class="text-center headerContact">Contact Us</h2>
  <hr>
  <section class="row">
    <section class="col-sm-5 infoContact">
      <address>
        <p itemprop="description">Contact us and we'll get back to you within 24 hours.</p>
        <p>
          <i itemprop="logo" class="fa fa-map-marker" aria-hidden="true"></i> Dummy City, Dummy Country</p>
        <p>
          <i itemprop="logo" class="fa fa-phone" aria-hidden="true"></i> +00 1234567890</p>
        <p>
          <i itemprop="logo" class="fa fa-envelope" aria-hidden="true"></i> demo@ngx-seo-demo.herokuapp.com</p>
      </address>
    </section>
    <section class="col-sm-7">
      <section class="row">
        <div class="col-sm-12 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autocomplete="off">
        </div>
        <br>
        <div class="col-sm-12 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required autocomplete="off">
        </div>

        <div class="col-sm-6 form-group">
          <input class="form-control" id="company" name="company" placeholder="Company" type="text" required autocomplete="off">
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="phone" name="phone" placeholder="Mobile Number" type="text" required autocomplete="off">
        </div>
      </section>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <section class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-success pull-right submitContact" type="submit">Send</button>
        </div>
      </section>
    </section>
  </section>
  <noscript>Your browser is not compatible to view the page.</noscript>
</section>