.dispView {
    text-align: center;
    position: relative;
    cursor: default;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 100px;
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.heroImg {
  border-radius: 4px;
}

.detail {
    width: 150px;
    color: black;
    font-weight: bold;
}

.heroPara {
    font-weight: bold;
    font-size: 15px;
}