<div>
  <div class="dispView">
    <br>
    <img class="heroImg" src="{{heroImage.image}}" width="400" height="400">
    <br>
    <p class="heroPara">
      Hero ID : {{heroImage.id}}
      <br>Hero Name : {{heroImage.name}}
      <br>Hero Rating : {{heroImage.rating}}
      <br>Hero Description : {{heroImage.description}}
    </p>
    <!-- <p>Hero Name : {{heroImage.name}}</p>
    <p>Hero Rating : {{heroImage.rating}}</p>
    <p>Hero Description : {{heroImage.description}}</p> -->
    <!-- <a routerLink="/detail/{{heroImage.id}}">
      <button class="btn btn-info detail" title="Details">Details</button>
    </a> -->
  </div>
</div>