.mainDiv {
    margin-top: 150px;
    text-align: center;
}

.panel-heading {
    margin-bottom: 30px;
}

.panel-body {
    text-align: center;
}

.dash-widget {
    position: relative;
    outline: none;
}

.icon-label {
    opacity: .8;
}

.box_1 { 
    display: block;
    position: relative;
    margin-bottom: 0px;
}

.box_2 { 
    display: block;
    position: relative;
    padding: 1px;
}

.box_3 { 
    display: block;
    position: relative;
    padding: 1px;
    margin-bottom: 5px;
}

.label-inverse {
    background-color: #ffffff;
    color: #666666;
    border-radius: 4px;
}
