<!-- <br>
<br>
<h3 class="header1">Top Heroes</h3>
<br>
<br>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4 heroList" routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4 class="header2">{{hero.name}}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search> -->

<div class="col-lg-12 mainDiv">

  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-dash"></span> Heros Dashboard
      </h3>
    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-lg-3">
          <a routerLink="{{linkConfigObj.footer.about.route}}" class="btn btn-info btn-lg btn-block dash-widget" role="button">
            <div id="box_1">
              <span class="fa fa-clock-o fa-3x"></span>
            </div>
            <div id="box_2" class="icon-label">Time Zone</div>
            <div id="box_3">
              <span class="label label-inverse">Western</span>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a routerLink="{{linkConfigObj.footer.about.route}}" class="btn btn-info btn-lg btn-block dash-widget" role="button">
            <div id="box_1">
              <span class="fa fa-desktop fa-3x"></span>
            </div>
            <div id="box_2" class="icon-label">Platform</div>
            <div id="box_3">
              <span class="label label-inverse">Windows / MacOS</span>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a routerLink="{{linkConfigObj.header.heroes.route}}" class="btn btn-info btn-lg btn-block dash-widget" role="button">
            <div id="box_1">
              <span class="fa fa-print fa-3x"></span>
            </div>
            <div id="box_2" class="icon-label">Total Fixed Heros</div>
            <div id="box_3">
              <span class="label label-inverse">10</span>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a routerLink="{{linkConfigObj.footer.contact.route}}" class="btn btn-info btn-lg btn-block dash-widget" role="button">
            <div id="box_1">
              <span class="fa fa-suitcase fa-3x"></span>
            </div>
            <div id="box_2" class="icon-label">Business and Enquiry</div>
            <div id="box_3">
              <span class="label label-inverse">Accenture</span>
            </div>
          </a>
        </div>

      </div>

    </div>

  </div>

</div>