.mainDiv {
   
    margin-top: 250px;
    text-align: center;
}

.panel-heading {
    margin-bottom: 30px;
}

.panel {
    background-color: transparent;
}

.panel-title{
    font-weight: bold;
    color:black;
}

.dashDiv{
    width: 100%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -95%);
}

.panel-body {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.dash-widget {
    position: relative;
    outline: none;
    // box-shadow: inset 0 0 0 200px rgba(0,0,0,.5);
    background-color:rgb(32, 11, 76) ;
    color: white;
    text-decoration: none;
}



.box_1 { 
    display: block;
    position: relative;
    margin-bottom: 0px;
}

.box_2 { 
    display: block;
    position: relative;
    padding: 1px;
}

.box_3 { 
    display: block;
    position: relative;
    padding: 1px;
    margin-bottom: 5px;
}

.label-inverse {
    font-size: 20px;
    // background-color: #ffffff;
    color:  white;
}

.heroImage {
    margin-bottom: 50px;
    margin-top: -250px;
    margin-left: -20px;
    margin-right: -15px;
    position: relative;
    text-align: center;
    // width: 100%;
}

h1 {
    font-size: 40px;
}

.logo {
    font-size: 60px;
}

