<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<section itemscope itemtype="http://schema.org/Things" class="col-lg-12 mainDiv">

  <section class="heroImage">
    <figure>
      <img class="heroImageTag" src="../../assets/images/backHeroNew1.jpg" alt="hero" width="100%" height="500px">
    </figure>
  </section>

  <div class="dashDiv">
    <section class="panel">

      <section class="panel-heading">
        <aside>
          <h1 itemprop="name" class="panel-title">Heroes Dashboard</h1>
        </aside>
      </section>

      <section class="panel-body">

        <section class="row" itemprop="children" itemscope itemtype="http://schema.org/Product">

          <section class="col-lg-3">
            <a itemprop="url" routerLink="{{linkConfigObj.footer.about.route}}" class="btn btn-lg btn-block dash-widget" role="button">
              <div class="box_1">
                <span itemprop="logo" class="glyphicon glyphicon-time logo"></span>
              </div>
              <div itemprop="name" class="icon-label box_2">Time Zone</div>
              <div class="box_3">
                <span itemprop="name" class="label label-inverse">Western</span>
              </div>
            </a>
          </section>

          <section class="col-lg-3">
            <a itemprop="url" routerLink="{{linkConfigObj.footer.about.route}}" class="btn btn-lg btn-block dash-widget" role="button">
              <div class="box_1">
                <span itemprop="logo" class="glyphicon glyphicon-th-large logo"></span>
              </div>
              <div itemprop="name" class="icon-label box_2">Platform</div>
              <div class="box_3">
                <span itemprop="name" class="label label-inverse">Windows / MacOS</span>
              </div>
            </a>
          </section>

          <section class="col-lg-3">
            <a itemprop="url" routerLink="{{linkConfigObj.header.heroes.route}}" class="btn btn-lg btn-block dash-widget" role="button">
              <div class="box_1">
                <span itemprop="logo" class="glyphicon glyphicon-th-list logo"></span>
              </div>
              <div itemprop="name" class="icon-label box_2">Total Fixed Heros</div>
              <div class="box_3">
                <span itemprop="name" class="label label-inverse">10</span>
              </div>
            </a>
          </section>

          <section class="col-lg-3">
            <a itemprop="url" routerLink="{{linkConfigObj.footer.contact.route}}" class="btn btn-lg btn-block dash-widget" role="button">
              <div class="box_1">
                <span itemprop="logo" class="glyphicon glyphicon-envelope logo"></span>
              </div>
              <div itemprop="name" class="icon-label box_2">Business and Enquiry</div>
              <div class="box_3">
                <span itemprop="name" class="label label-inverse">Dummy Company</span>
              </div>
            </a>
          </section>

        </section>

      </section>

    </section>
  </div>
  <noscript>Your browser is not compatible to view the page.</noscript>
</section>