.mainDiv {
  position: relative;
  text-align: center;
  top: 130px;
}

.panel-heading {
    margin-bottom: 30px;
}

.panel-title{
    font-weight: bold;
    color: brown;
}

.dashDiv{
  width: 100%;
  position: relative;
  top: 100px;
}

.panel-body {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.dash-widget {
    position: relative;
    outline: none;
    background-color:rgb(32, 11, 76) ;
    color: white;
    text-decoration: none;

}



.box_1 {
    display: block;
    position: relative;
    margin-bottom: 0px;
}

.box_2 {
    display: block;
    position: relative;
    padding: 1px;
}

.box_3 {
    display: block;
    position: relative;
    padding: 1px;
    margin-bottom: 5px;
}

.label-inverse {
    color:  white;
    border-radius: 4px;
}


