.container {
    margin-top: 6px;
    margin-bottom: 24px;
    text-align: left;
}

.container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 50px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;

}

.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: white;
    opacity: 0.5;
    transition: all 0.3s;
}

.pullUp a:hover:before
{
    height: 100%;
}

@media screen and (max-width: 400px) {
    .container {
        margin-left: -20px;
    }

  }

