<section itemscope itemtype="http://schema.org/Person" class="container pullUp">
  <a class="navURLs" itemprop="url" routerLink="{{linkConfigObj.header.dashboard.route}}" href="{{linkConfigObj.header.dashboard.route}}">{{linkConfigObj.header.dashboard.label}}</a>
  <a class="navURLs" itemprop="url" routerLink="{{linkConfigObj.header.heroes.route}}" href="{{linkConfigObj.header.heroes.route}}">{{linkConfigObj.header.heroes.label}}</a>
  <noscript>Your browser is not compatible to view the page.</noscript>
</section>
