<section class="logoDiv">
    <img class="heroLogoTag" src="../../assets/images/seoTitleNew.jpg" alt="logo" width="500px" height="150px">
</section>
<section itemscope itemtype="http://schema.org/Product" class="container pullUp">
  <a class="navURLs" itemprop="url" routerLink="{{linkConfigObj.header.dashboard.route}}">{{linkConfigObj.header.dashboard.label}}</a>
  <a class="navURLs" itemprop="url" routerLink="{{linkConfigObj.header.heroes.route}}">{{linkConfigObj.header.heroes.label}}</a>
  <noscript>Your browser is not compatible to view the page.</noscript>
</section>