.buttonDesign {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.divAccount{
    margin-top: 100px;
    background-color: black;
    margin-bottom: 18px;
    margin-left: 110px;
}

.btn {
    margin-top: 56px;
}
