<section itemscope itemtype="http://schema.org/Product" class="divAccount">
  <button class="btn btn-warning">
    <a itemprop="url" class="buttonDesign" routerLink="{{linkConfigObj.header.login.route}}">
      <i itemprop="logo" class="fa fa-user" aria-hidden="true"></i> {{linkConfigObj.header.login.label}}</a>
  </button>
  <button class="btn btn-primary">
    <a itemprop="url" class="buttonDesign" routerLink="{{linkConfigObj.header.signup.route}}">
      <i itemprop="logo" class="fa fa-sign-in" aria-hidden="true"></i> {{linkConfigObj.header.signup.label}}</a>
  </button>
</section>