<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<section itemscope itemtype="http://schema.org/Product" class="divAccount">
  <button class="btn btn-warning">
    <a itemprop="url" class="buttonDesign" routerLink="{{linkConfigObj.header.login.route}}">
      <span class="glyphicon glyphicon-user"></span> {{linkConfigObj.header.login.label}}</a>
  </button>
  <button class="btn btn-primary">
    <a itemprop="url" class="buttonDesign" routerLink="{{linkConfigObj.header.signup.route}}">
      <span class="glyphicon glyphicon-edit"></span> {{linkConfigObj.header.signup.label}}</a>
  </button>
</section>